<IfModule mod_rewrite.c>
# URL-Rewriting
  RewriteEngine on 

# Deny access to the included PHP files: router, helpers, templates and so on (I usually put them in site/).
  RewriteRule ^site/(.*) error [R=301,L]

# Rewrite any request to index
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*  index.php  [L]
</IfModule>